body {
    font-family:system-ui, -apple-system, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #eee;
    background: #27333d;
    padding: 0;
    margin: 0;
}

.grid {
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

button {
    font-size: 1rem;
}

.canvas {
    position: fixed;
    z-index: -1;
}